<div class="main-product">
<div class="product_left">
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="product_main-img">
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
</div>
<ul class="product_tumbnail">

{% for image in product.images %}
  <li> <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a></li>

{% endfor %}
</ul>
</div>
<div class="product_right">
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

  <div class="price-box">
    <b>Price:</b> {{ current_variant.price | money }}
    </div>
<div class="color_selecter">
  <span>Color:</span>
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} 
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>

</div>

  <div class="quantity">
  <label for="Quantity">Quantity</label>
  {% comment %} <input type="number" id="Quantity" name="quantity" value="1" min="1"> {% endcomment %}

  <span><input type="button" name="minus" value="-" class="minus"></span>
  <span><input type="text" name="quantity" id="quantity" value="1" class="result"></span>
  <span><input type="button" name="plus" value="+" class="plus"></span>


  </div>
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
</div>
</div>

<div class="desc_container">
  <h2>Description</h2>
<div class="product_description">{{ product.description }}</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $('[name="minus"]').click(function() {
    $('#quantity').val(parseInt($('#quantity').val()) - 1);
  });
  $('[name="plus"]').click(function() {
    $('#quantity').val(parseInt($('#quantity').val()) + 1);
  });
</script>